body {
  background-color: lightgray;
}
h1 {
  font-family: courier, sans-serif;
  text-align: left;
}

div {
  font-family: courier, sans-serif;
  font-size: 20px;

  background-color: lightblue;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 20px;

}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}
th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
th {
  background-color: lightgray;
}
button {
  width: 200px;
  height: 50px;
  font-size: 24px;
  background-color: green;
}
button:hover {
  background-color: orange;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

#top {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 30px
}

#middle {
  width: 70%;
  font-size: 17px;
  margin: 30px;

}

#right {
  float: right;
}
.name {
  font-weight: bold;
}
.container {
  display: flex;
  flex-wrap: wrap;
}

.container > div {
  background-color: springgreen;
  font-size: 20px;
  margin: 20px;
  padding: 20px;
  width: 200px;
}

@media (max-width: 499px) {
  #mobile_message::before {
    content: "Hello mobile user"
  }
}

@media (min-width: 500px) {
  #mobile_message::before {
    content: "Check out the mobile version!"
  }
}
