body {
  background-color: lightgray;
  margin: 0;
}


header {
  font-family: Arial, sans-serif;
  border: 2px solid black;
  padding: 20px;
}

h1 {
  font-weight: bold;
  margin-bottom: 30px
}

div {
  font-family: courier, sans-serif;
  font-size: 20px;

  border: 2px solid blue;
  border-radius: 4px;

}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 50%;
}
th, td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
th {
  background-color: lightgray;
}


ul {
  font-family: courier, sans-serif;

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: lightgray;
  position: fixed;
  right: 0;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: teal;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#top {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

#container {
  width: 70%;
  font-size: 17px;
  margin: 30px;
}


@media (max-width: 499px) {
  #mobile_message::before {
    content: "Hello mobile user"
  }
}

@media (min-width: 500px) {
  #mobile_message::before {
    content: "Check out the mobile version!"
  }
}
